@keyframes strokeWave {
  0% {
    stroke-dashoffset: 90;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes appear {
  100% {
    opacity: 0;
  }
}

@keyframes ok {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes color {
  0% {
    fill: $color-pink;
  }
  20% {
    fill: $color-black;
  }
  100% {
    fill: $color-black;
  }
}

// features icons
@keyframes stroke {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes stroke-back {
  0% {
    stroke-dashoffset: -1000;
  }
  40% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
