.main--page {
  & section {
    position: relative;
  }
}

.box,
.wave,
.circle {
  position: absolute;
  transform-origin: 50% 50%;
  transition: transform 0.5s linear;
  z-index: 1000;
}

.header {
  &--section {
    position: relative;
    & h2::before {
      position: absolute;
      top: -1.9vw;
      left: 0;
      @media screen and (min-width: $bp-largest) {
        top: -1em;
      }
      @media screen and (max-width: $bp-small) {
        top: -4.125vw;
      }
    }
  }
  &--hero {
    position: relative;
    display: flex;
    align-items: flex-end;
    & .hero__img {
      position: absolute;
      top: 5%;
      right: 5%;
    }
    & .box {
      top: 30%;
      left: 5%;
      transform: translate3d(1em, 1em, 1em) rotate3d(0, 0, 1, -35deg);
      @media screen and (max-width: $bp-small) {
        left: -2%;
        top: 20%;
      }
    }
    & .circle {
      top: 15%;
      left: -4%;
      transform: translate3d(1em, 1em, 1em) rotate3d(1, 1, 0, 5deg);
      @media screen and (max-width: $bp-small) {
        left: -22%;
      }
    }
    .wave {
      top: 65%;
      right: 0%;
    }
  }
}

.features {
  &-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: $bp-small) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $bp-small) {
      flex-direction: row;
      justify-content: left;
    }
  }

  & .circle {
    top: 15%;
    right: -10%;
    transform: translate3d(1em, 1em, 0) rotate3d(1, 1, 0, 5deg);
  }
}

.procedure {
  &-arrow {
    position: absolute;
  }
  &-list {
    position: relative;
  }
  &-item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    @media screen and (max-width: $bp-small) {
      justify-content: center;
    }
    &:nth-child(1) .procedure-arrow {
      top: 20%;
      left: 35%;
      @media screen and (max-width: $bp-small) {
        top: 21%;
        left: 47%;
      }
      @media screen and (max-width: $bp-smaller) {
        top: 18%;
        left: 51%;
      }
    }
    &:nth-child(2) {
      flex-direction: row-reverse;
      justify-content: end;
      @media screen and (max-width: $bp-small) {
        flex-direction: row;
        justify-content: center;
        justify-self: left;
      }
      & .procedure-arrow {
        top: 54%;
        left: 34%;
        @media screen and (max-width: $bp-small) {
          top: 54%;
          left: -30%;
        }
      }
    }
  }
  &-img.__animate {
    position: absolute;
    z-index: 1000;
    &.ok {
      top: 38%;
      left: 5%;
      @media screen and (max-width: $bp-small) {
        left: 14%;
      }
    }
    &.sparks {
      top: -16%;
      right: 32%;
      @media screen and (max-width: $bp-small) {
        top: 0;
        right: 38%;
      }
    }
    &.check {
      top: 16%;
      left: -4%;
      @media screen and (max-width: $bp-small) {
        top: 16%;
        left: 10%;
      }
      @media screen and (max-width: $bp-smallest) {
        top: 14%;
        left: 10%;
      }
    }
  }
  & .box {
    top: 2%;
    right: 6%;
    transform: translate3d(1em, 1em, 1em) rotate3d(0, 0, 1, -35deg);
  }
}

.cta {
  & .box {
    bottom: 30%;
    right: 5%;
    transform: translate3d(1em, 1em, 1em) rotate3d(0, 0, 1, -1deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & .input-group {
    position: relative;
    @media screen and (max-width: $bp-small) {
      align-self: center;
    }
    & label {
      position: absolute;
      top: 6px;
      left: 0;
    }
    & .error {
      position: absolute;
      bottom: -1.5em;
      left: 1.2em;
    }
  }
}

.faq {
  &-item {
    position: relative;
    &::after {
      position: absolute;
      top: 2vw;
      right: 1.7vw;
      @media screen and (max-width: $bp-small) {
        top: 5.6vw;
      }
    }
  }
  .wave {
    top: 4%;
    right: 5%;
  }
  & .box {
    bottom: -3%;
    left: 5%;
    transform: translate3d(1em, 1em, 1em) rotate3d(0, 0, 1, -30deg);
  }
}

.footer {
  position: relative;
  overflow: hidden;
  & .box {
    &:last-of-type {
      bottom: 5%;
      right: 4%;
      transform: translate3d(1em, 1em, 1em) rotate3d(0, 0, 1, 45deg);
    }
  }
  & .circle {
    bottom: -20%;
    right: -5%;
    transform: translate3d(1em, 1em, 1em) rotate3d(0, 0, 1, 45deg);
  }
}
