.stroke-black {
  fill: none;
  stroke: #21232c;
  stroke-width: 8;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
  stroke-dasharray: 1000;
  transition: all 0.5s;
}

.__animate {
  transform: translateZ(0);
}

.check-group,
.spark {
  will-change: opacity;
}

.spark {
  animation: appear 3s linear infinite;
}
#sparks .spark:nth-of-type(1) {
  animation-delay: 0;
}
#sparks .spark:nth-of-type(2) {
  animation-delay: 0.5s;
}
#sparks .spark:nth-of-type(3) {
  animation-delay: 1s;
}

.spark {
  fill: white;
  opacity: 1;
  will-change: opacity;
}

.ok-group {
  stroke-width: 3;
  stroke: $color-white;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  transform: translateZ(0);
}

.procedure-item:hover .ok-group {
  animation: stroke 2s forwards infinite;
}

.check-group {
  & .ok {
    fill: $color-black;
    opacity: 1;
    animation: ok 5s linear infinite;
    will-change: opacity;
    &:nth-child(2) {
      animation-delay: 0.5s;
    }
    &:nth-child(4) {
      animation-delay: 1s;
    }
    &:nth-child(6) {
      animation-delay: 1.5s;
    }
    &:nth-child(8) {
      animation-delay: 2s;
    }
  }
}
svg:hover {
  & .ok {
    animation: ok 5s linear forwards infinite;
  }
}
