%title {
  font-family: $font-title;
  font-weight: bold;
  line-height: 1;
}
%heading {
  font-family: $font-heading;
  font-weight: bold;
  line-height: 1.18;
}
%paragraph {
  font-family: $font-main;
  font-weight: normal;
  line-height: 1.38;
}

.heading {
  &-1 {
    @extend %title;
    font-size: 3.2em;
    font-size: 3.689em;
    @media screen and (max-width: $bp-medium) {
      font-size: 2.8em;
    }
    @media screen and (max-width: $bp-small) {
      font-size: 2.5em;
    }
  }
  &-2 {
    @extend %heading;
    font-size: 1.434em;
    font-size: 2.1516em;
    line-height: 1.21;
    line-height: 1.1;
    @media screen and (max-width: $bp-small) {
      font-size: 9.0625vw;
    }
  }
  &-3 {
    @extend %heading;

    font-size: 1.127em;
    font-size: 1.2295em;
    @media screen and (max-width: $bp-small) {
      font-size: 5.625vw;
    }
  }
  &-4 {
    @extend %heading;
    font-size: 0.9em;
    font-size: 1.0246em;
    @media screen and (max-width: $bp-small) {
      font-size: 5.625vw;
    }
  }
}
.paragraph {
  @extend %paragraph;
  font-size: 0.8197em;
  font-size: 0.9221em;
  @media screen and (max-width: $bp-small) {
    font-size: 5vw;
  }
}

.header--hero {
  & span:nth-of-type(2) {
    color: $color-pink;
  }
}

.features {
  & span {
    @media screen and (max-width: $bp-small) {
      font-family: $font-main;
      font-weight: 400;
      font-size: 5vw;
    }
  }
  &-caption {
    @extend %paragraph;
    text-align: center;
    font-size: 1.2295em;
    @media screen and (max-width: $bp-small) {
      text-align: left;
      font-size: 5vw;
    }
  }
  & .paragraph {
    font-size: 1.5881em;
    @media screen and (max-width: $bp-small) {
      font-size: 5vw;
    }
  }
}
.procedure {
  color: $color-white;
  &-item:nth-child(2) {
    text-align: left;
  }
  & .section-link,
  & .paragraph {
    @extend %paragraph;
    font-size: 1.2295em;
    @media screen and (max-width: $bp-small) {
      font-size: 5vw;
    }
  }
}
.form {
  & input[type="tel"],
  & label {
    font-family: $font-main;
    font-weight: 400;
    line-height: normal;
  }
  & input[type="tel"] {
    font-size: 16px;
    color: black;
    cursor: auto;
    @media screen and (max-width: $bp-small) {
      font-size: 13px;
    }
    @media screen and (min-width: $bp-largest) {
      font-size: 1.4035vw;
    }
  }
  & label {
    font-size: 13px;
    color: $color-grey-dark;

    @media screen and (max-width: $bp-small) {
      font-size: 10px;
    }
    @media screen and (min-width: $bp-largest) {
      font-size: 0.9028vw;
    }
  }
  & .error {
    @extend %paragraph;
    font-size: 0.7em;
  }
}
.btn {
  color: $color-white;
  font-family: $font-main--bold;
  font-size: 1.127em;
  line-height: 1.38;
  @media screen and (max-width: $bp-small) {
    font-size: 5vw;
  }
  &:hover {
    color: $color-white;
  }
}
.cta {
  & .paragraph {
    font-size: 0.8888em;
    @media screen and (max-width: $bp-small) {
      font-size: 5vw;
    }
  }
  & a.link--offer {
    text-decoration: underline;
    &,
    &:link,
    &:visited {
      color: currentColor;
    }
    &:hover,
    &:focus,
    &:active {
      color: $color-blue;
    }
  }
  .error {
    color: #d72f4b;
  }
}
.faq {
  .heading-4 {
    font-size: 1.0246em;
    @media screen and (max-width: $bp-small) {
      font-size: 5.625vw;
    }
  }
  .paragraph {
    font-size: 0.9221em;
    @media screen and (max-width: $bp-small) {
      font-size: 5vw;
    }
  }
}

.footer {
  .paragraph {
    font-size: 0.8197em;
    @media screen and (max-width: $bp-small) {
      font-size: 5vw;
    }
  }
  color: $color-grey-dark;
  & a.link--offer {
    text-decoration: underline;
    &,
    &:link,
    &:visited {
      color: currentColor;
    }
    &:hover,
    &:focus,
    &:active {
      color: $color-blue;
    }
  }
}

.font-title {
  font-family: $font-title;
  line-height: 1;
}
