// SASS Varibles
// RESPONSIVE VARIABLES
$bp-largest: 112.5em; // 1800px
$bp-larger: 90em; // 1440px
$bp-large: 75em; // 1200px
$bp-medium: 64em; // 1024px
$bp-medium-small: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smaller: 25.875em; // 414px
$bp-smallest: 22em; // 360px

$font-main: "tele2-sans-regular", sans-serif;
$font-main--bold: "tele2-sans-bold", sans-serif;
$font-heading: "tele2-serif-bold", serif;
$font-title: "tele2-stencil-bold", serif;

$color-black: #1f2229;
$color-white: #ffffff;
$color-grey-light: #f0f1f2;
$color-grey-dark: #8f9399;
$color-grey: #626469;
$color-pink: #ff59a3;
$color-blue: #3fcbff;
$color-stroke: #ebebeb;
